section {
	display: flex;
	flex-direction: column;
	flex: 1;
}
.sidebar {
	background: #aaaaaa;
}
form {
	display: flex;
	flex-direction: row;
	padding: 2px 2px;
}
.searchbar {
	flex: 1;
}
button {
	border-radius: 0px;
	border: 1px solid grey;	
	background: #006BA6;
	color: white;
}
.item {
	border: 1px solid red;
	box-shadow: 1px 1px 1px black;
	height: 25px;
	margin: 2.5px;
	background: white;
	padding: 5px 5px;
}
.item-header, .item-1 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
	align-items: center;
	padding: 10px 0;
}